.note{
    color:#FFCDD2 ;
     background-color:#4CAF50;
}
.copy_right_footer{
    text-align: center;
    width: 100%;
    line-height:2 ;
    bottom: 0;
    background-color:#E91E63 ;
    color: white;
    position: fixed;
    font-weight: bold;
    font-size: 20px;
}
.top{
  color:#004D40;
  background-color:#A7FFEB;
  box-shadow: 1px 1px 50px #004D40 ;
}